@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.ar-circle{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    position: absolute;
    width: 150px;
    height: 150px;
    background-image: url("logo.jpg");
    background-size: cover;
    /*filter: brightness(1.5) contrast(1.5);*/
    border-radius: 50%;
}
.text{
    position: absolute;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}
@keyframes rotateText {
    to{
        transform: rotate(360deg);
    }
    from{
        transform: rotate(0deg);
    }
}
.text span{
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 100px;
}