body {
    background : #222;
}

.cards {
    width           : 220px;
    height          : 250px;
    margin-bottom   : 20px;
    background      : #2a2a2a;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.cards .percent {
    position : relative;
    width    : 150px;
    height   : 150px;
}

.cards .percent svg {
    position  : relative;
    width     : 150px;
    height    : 150px;
    transform : rotate(270deg);
}

.cards .percent svg circle {
    width        : 100%;
    height       : 100%;
    fill         : transparent;
    stroke-width : 10;
    stroke       : #191919;
    transform    : translate(5px, 5px);
}

.cards .percent svg circle:nth-child(2) {
    stroke            : var(--clr);
    stroke-linecap    : round;
    stroke-dasharray  : 440;
    stroke-dashoffset : calc(440 - (440 * var(--num)) / 100);
    opacity           : 0;
    animation         : fadeIn 1s linear forwards;
    animation-delay   : 2.5s;
}

@keyframes fadeIn {
    0% {
        opacity : 0;

    }
    100% {
        opacity : 1;

    }
}


.cards .percent .dot {
    position  : absolute;
    z-index   : 10;
    inset     : 5px;
    transform : rotate(calc(3.6deg * var(--num)));
    /*  360deg / 100 = 3.6  */
    animation : animateDot 2s linear forwards;
}

@keyframes animateDot {
    0% {
        transform : rotate(0deg);
    }
    100% {
        transform : rotate(calc(3.6deg * var(--num)));
    }
}

.cards .percent .dot:after {
    content       : "";
    position      : absolute;
    width         : 16px;
    height        : 16px;
    background    : var(--clr);
    border-radius : 50%;
    top           : -8px;
    left          : 50%;
    transform     : translateX(-50%);
    box-shadow    : 0 0 10px var(--clr),
    0 0 30px var(--clr);
}

.cards .percent .number {
    position        : absolute;
    inset           : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
    opacity         : 0;
    animation       : fadeIn 1s linear forwards;
    animation-delay : 2.5s;
}

.cards .percent .number h2 {
    color         : #fff;
    margin-bottom : 0;
}

.cards .percent .number p {
    color         : #fff;
    margin-bottom : 0;
}
